{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<h1 class="mt-5 mb-3">{{ title }}</h1>
	<a href="{{ path('home') }}" class="btn btn-outline-primary">Back to Home</a>
	<div class="container d-flex justify-content-center">
		<div class="w-50 justify-self-center">
			{{ form_start(form) }}
			{{ form_row(form.email, { 'label': '* Email' } ) }}
			{{ form_row(form.firstname, { 'label': '* Firstname' } ) }}
			{{ form_row(form.lastname, { 'label': '* Lastname' } ) }}
			{{ form_row(form.dateOfBirth, { 'label': 'Birthday' } ) }}
			{{ form_row(form.message, { 'label': '* Message' } ) }}
			{{ form_row(form.submit) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
